<div class="ui center aligned segment header">
  <h2>Edit post</h2>
</div>

<%= render 'form', post: @post %>
<br>
<%= link_to 'Delete post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "negative ui button" %>
