<div class="ui center aligned segment">
  <a>ABOUT US</a>  | 
  <a>SUPPORT</a>   | 
  <a>PRESS</a>     | 
  <a>API</a>       | 
  <a>JOBS</a>      | 
  <a>PRIVACY</a>   | 
  <a>TERMS</a>     | 
  <a>DIRECTORY</a> | 
  <a>PROFILES</a>  | 
  <a>HASHTAGS</a>  | 
  <a>LANGUAGE</a>  |
  © 2019 NINEGRAM
</div>
  
